<h2>Input data</h2>
<div>
    <form #personForm="ngForm" (ngSubmit)="addPerson(personForm)">
        <div>
            <input type="text" name="name" #name="ngModel" [(ngModel)]="selectedPerson.name" placeholder="Coloque su nombre">
        </div>
        <div>
            <input type="text" name="salary" #salary="ngModel" [(ngModel)]="selectedPerson.salary" placeholder="Coloque su salario">
        </div>
        <div>
            <input type="text" name="age" #age="ngModel" [(ngModel)]="selectedPerson.age" placeholder="Coloque su edad">
        </div>
        <div>
            <input type="text" name="approved" #approved="ngModel" [(ngModel)]="selectedPerson.approved" placeholder="Está aprobado?">
        </div>
        <div>
            <button>Enviar</button>
            <button (click)="resetFrom(personForm)">Borrar</button>
        </div>
    </form>
</div>

<div>
    <table>
        <thead>
            <th>incont</th>
            <th>nombre</th>
            <th>Salario</th>
            <th>Edad</th>
            <th>aprobado</th>
            <td>Ajustes</td>
        </thead>
        <tbody>
            <tr *ngFor="let item of persons; index as i">
                <td>{{ i + 1 }}</td>
                <td> {{ item.name}}</td>
                <td> {{ item.salary}}</td>
                <td> {{ item.age}}</td>
                <td> {{ item.approved}}</td>
                <td>
                    <a href="#" (click)="editPerson(item)">editar</a>
                    <a hred="#" (click)="deletePerson(item)">borrar</a>
                </td>
            </tr>
        </tbody>
    </table>
</div>